/* font-family: "Quicksand", sans-serif;
font-family: "Signika", sans-serif; */
:root {
  --heading-font: "Signika", sans-serif;
  --sub-font: "Quicksand", sans-serif;
  --med-color: #f1e0e0;
  --bold-color: #ea8a8a;
  --bg-color: #f2f2f2;
  --dk-color: #685454;
}

body {
  font-family: var(--sub-font);
  font-weight: 400;
  background: var(--bg-color);
}

h1 {
  color: #685454;
  font-family: var(--heading-font);
  font-weight: 600;
  padding: 5px 0;
  font-size: 60px;
}

h2 {
  font-size: 22px;
}

.top-page {
  padding: 80px 0;
  text-align: center;
  background: var(--med-color);
}

.top-page p {
  padding-top: 5px;
  font-size: 20px;
  margin: 0;
}

.contact-btn {
  background-color: var(--dk-color);
  color: var(--med-color);
}

.contact-btn:hover {
  background-color: var(--bg-color);
  border: 1px solid var(--bold-color);
}

.center-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.my-work {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.mid-page {
  text-align: center;
}

.project {
  border-radius: 10px;
  margin: 0 10px;
}

.weather-btn {
  background-color: var(--bold-color);
}

.weather-btn:hover {
  background-color: var(--med-color);
  border: 1px solid var(--bold-color);
}

.info-btn {
  background-color: var(--med-color);
  border: 1px solid var(--bold-color);
}

.info-btn:hover {
  background-color: var(--bold-color);
  border: 1px solid var(--med-color);
}

@media (max-width: 992px) {
  h1 {
    font-size: 40px;
  }
}
